<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Sigle:</strong>
  <%= @school.sigle %>
</p>

<p>
  <strong>Role:</strong>
  <%= @school.role %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @school.contact %>
</p>

<p>
  <strong>School address:</strong>
  <%= @school.school_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>Code school:</strong>
  <%= @school.code_school %>
</p>

<p>
  <strong>Code secret:</strong>
  <%= @school.code_secret %>
</p>

<p>
  <strong>User:</strong>
  <%= @school.user_id %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
