<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col-8 offset-md-2">
<% @courses.each do |course| %>
<div class="card my-1">
      <tr>
        <td><%= course.title %></td>
        <td><%= course.content %></td>
        <td><%= course.material_id %></td>
        <td><%= course.level %></td>
        <td><%= course.author %></td>
        <td><%= course.slug %></td>
        <td><%= course.user_id %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
</div>
    <% end %>
</div>
</div>
</div>

<br>

<%= link_to 'New Course', new_course_path %>
