<!DOCTYPE html>
<html>
  <head>
    <title>LNCLASS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/partials/header_links" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/partials/notice" %>
    <%= yield %>

    <%= render "layouts/partials/footer_links" %>
  </body>
</html>
