<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "layouts/partials/headers/header_links" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- add Flavicon-->
    <%= render "layouts/partials/headers/flavicon" %>
  </head>

  <body class="bg-gray-200">
    <div class="mt-8">
      <%= render "layouts/partials/headers/notice" %>
      <%= render "shared/nav/navbar" %>
      <%= yield %>
    </div>

    <%= render "layouts/partials/footers/footer_links" %>
  </body>
</html>
